body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #17202a;
  background: #f7f8fa;
}

#app {
  min-height: 100vh;
}

a {
  color: #2368bf;
}

a:hover {
  color: #174f94;
}
